<section class="header" id="header">
  {{ if .Site.Params.enable_logo }}
  <div class="logo">
    <img
      class="img-fluid"
      src="{{ .Site.Params.logo_light | relURL }}"
      alt="{{ .Site.Title }}"
    />
  </div>
  {{ end }} {{ with .Site.Data.content.hero }}
  <div class="hero-image">
    {{ if ne .mobile_bg_image "" }}
    <img
      class="d-none d-md-block"
      src="{{ .bg_image | relURL }}"
      alt="background"
    /><img
      class="d-md-none"
      src="{{ .mobile_bg_image | relURL }}"
      alt="background"
    />{{ else }} <img src="{{ .bg_image | relURL }}" alt="background" />{{ end
    }}
  </div>
  <div class="container">
    <div class="row content">
      <div
        class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 head-container"
      >
        <div class="head-holder">
          <h1 class="introduction">{{ .title | markdownify | emojify }}</h1>
          <p class="hero-role">{{ .role }}</p>
          <p class="hero-focus">{{ .focus }}</p>
          <p class="hero-availability">{{ .availability }}<br>{{ .work_authorisation }}</p>
          <div class="profile-actions">
            {{ with $.Site.Data.content.about.button }}
            <a class="button" href="{{ .link | relURL }}" target="_blank" rel="noreferrer">DOWNLOAD CV</a>
            {{ end }}
            <a class="button button-secondary" href="mailto:alexguidioff@gmail.com">GET IN TOUCH</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</section>
